ago==0.0.95
beautifulsoup4==4.12.2
cchardet==2.1.7
chardet==5.1.0
Flask==2.3.2
lxml==4.9.2
null==0.6.1
pdfminer==20191125
requests==2.31.0
mock==5.0.2
werkzeug==2.3.4
feedwerk==1.1.0
Pillow==9.5.0
fake-useragent # latest
olefile
openai==0.27.7
torch==2.0.1
bert-extractive-summarizer==0.10.1
transformers==4.30.2
python-dotenv==1.0.0
python_slugify==8.0.1