body {
    background-color: #f5f5d5 !important;
}

@media (min-width: 1200px) {
    .container {
        width: 916px !important;
    }
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #f5f5d5;
}

.navbar-toggle .icon-bar {
    background-color: #888;
}

.post-item {
    border-bottom: 1px solid #dddddd;
    height: 100%!important;
    margin: 5px;
}

.post-item .post-title {
    display: block;
    text-decoration: none;
    font-weight: normal;
    line-height: 42px;
    height: auto;
}

.post-item .post-meta a {
    color: #777777;
}

.post-item .post-meta span {
    color: #777777;
}

.post-item .post-meta a:hover {
    text-decoration: none;
}

.post-item .post-meta .icon {
    margin-left: 10px
}

.post-item .post-summary {
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 0 1.5em;
}

.post-item .post-summary .feature-image {
    border-radius: 7px;
    margin-top: 5px;
    margin-right: 8px;
    border: 1px solid #F7F7F7;
    float: left;
}

.post-item .post-summary .summary-text {
    padding: 5px 0 0 5px;
}

.post-item .post-summary pre {
    font-size: 1em;
    background-color: #f5f5d5;
    line-height: 1.42857143;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: none;
}

.modal-dialog {
    max-width: 600px;
}

.modal img {
    margin: auto;
    background-color: #FFF;
}

footer li, footer li a {
    color: #777;
}
