body {
    background-color: #f5f5d5 !important;
}

.container {
    width: 916px !important;
    max-width: none !important;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #f5f5d5;
}

.post-item {
    border-bottom: 1px solid #dddddd;
    height: 100%!important;
    margin: 5px;
}

.post-item .post-title {
    display: block;
    text-decoration: none;
    padding: 3px 10px;
    font-weight: normal;
    line-height: 42px;
    height: auto;
}

.post-item .post-title .post-comhead{
    color: #777777;
}

.post-item .post-meta a {
    color: #777777;
}

.post-item .post-meta a:hover {
    text-decoration: none;
}

.post-item .post-meta .last-updated {
    color: #777777;
}

.post-item .post-meta .next-to-icon {
    margin-left: -10px;
}

.post-item .post-summary {
    padding: 0px 5px;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 0 1.5em;
}

.post-item .post-summary .feature-image {
    border-radius: 7px;
    margin-top:5px;
    margin-right: 8px;
    border: 1px solid #F7F7F7;
    float: left;
}

.post-item .post-summary .summary-text {
    padding: 5px 0 0 5px;
}

.modal-dialog {
    max-width: 600px;
}

.modal img {
    margin: auto;
}

footer li, footer li a {
    color: #777;
}
