<!DOCTYPE HTML>
<html>
<head>
    {% block head %}
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="alternate" type="application/atom+xml" title="{{ title }}" href="/feed.xml"/>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="bookmark" href="/static/favicon.ico">
        <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
        <meta name="apple-mobile-web-app-title" content="Hacker News">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="manifest" href="/static/manifest.json">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" integrity="sha512-YTuMx+CIxXa1l+j5aDPm98KFbVcYFNhlr2Auha3pwjHCF1lLbY9/ITQQlsUzdM1scW45kHC5KNib4mNa1IFvJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script type="text/javascript">
            // handle Ads inserted by ISP
            if (window !== top) top.location.href = window.location.href;
        </script>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        {#try <script>window.jQuery || document.write('<script src="/jquery.min.js"><\/script>')</script>#}
        <script>
            function favicon_fall_back(img) { // If the favicon cannot be loaded, fall back to the default one
                img.onerror = '';
                $(img).replaceWith('<i class="fa fa-external-link"></i>');
            }
            function illustration_fall_back(img) { // If fetched images broken, fall back to origins
                img.onerror = '';
                img.src = $(img).attr('alt');
            }
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-D9ZBQ6B4QQ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-D9ZBQ6B4QQ');
        </script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% endblock head %}
</head>
<body>
<div class="container">
    <a target="_blank" href="https://github.com/polyrabbit/hacker-news-digest" class="github-corner"
       aria-label="View source on GitHub">
        <svg class="hidden-xs" width="80" height="80" viewBox="0 0 250 250"
             style="fill:#FD6C6C; color:#fff; position: absolute; top: 0; border: 0; right: 0;"
             aria-hidden="true">
            <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
            <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
                  fill="currentColor" style="transform-origin: 130px 106px;"
                  class="octo-arm"></path>
            <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
                  fill="currentColor" class="octo-body"></path>
        </svg>
    </a>

    <nav class="navbar">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#hn-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% block nav_brand %} {% endblock %}
        </div>
        <div class="collapse navbar-collapse" id="hn-menu">
            <ul class="nav navbar-nav nav-pills">
                {% block nav_links %} {% endblock %}
                <li class="daily-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Archive<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="daily-links-menu">
                        {% for link in daily_links %}
                            <li {% if loop.index > 10 %}class="extra-link" style="display: none;"{% endif %}>
                                <a href="{{ config.site }}/daily/{{ link }}">{{ link }}</a>
                            </li>
                        {% endfor %}
                        {% if daily_links|length > 10 %}
                            <li class="divider"></li>
                            <li><a href="#" id="more-daily-links">More...</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="sort-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">
                        Sort
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                                   id="sort-by-hn-rank">HN rank</a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                                   id="sort-by-score">Points</a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                                   id="sort-by-comments">Comments</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                                   id="sort-by-submit-time">Submit time</a>
                        </li>
                    </ul>
                </li>
                <li class="filter-dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">
                        Filter
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                                   data-top="10">Top 10</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                                   data-top="20">Top 20</a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                                   data-top="{{ news_list|length / 2 }}">Top 50%</a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                                   data-top="-1">All</a></li>
                    </ul>
                </li>
                <li class="translate-dropdown" title="{{ 'Translate'|translate(lang) }}">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">
                        {{ 'Translate'|translate(lang) }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                        <li role="presentation">
                            <a role="menuitem" href="/">English</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" href="/zh.html">中文</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    {% for news in news_list %}
        <article class="post-item" data-rank="{{ news.rank }}">
            <div class="qrcode"></div>
            <div class="post-title">
                <h3 id="{{ news.slug() }}">
                    <a target="_blank" class="post-url"
                       href="{{ news.url }}">{{ news.title|translate(lang) }}
                    </a>
                </h3>
            </div>

            <div class="post-meta">
                {% if news.score %}
                    <span class="score" title="Score">
                        <i class="fa fa-chevron-up" style="color: #fd6c6c;"></i>
                        <span>
                            {{ news.score }}
                        </span>
                    </span>
                {% endif %}
                {% if news.author_link %}
                    <span class="author-link" title="Author">
                        <a href="{{ news.author_link }}" rel="author" target="_blank">
                            <i class="fa fa-user"></i>
                            <span>
                                {{ news.author }}
                            </span>
                        </a>
                    </span>
                {% endif %}
                <span class="summit-time" title="Submitted at {{ news.submit_time.replace(microsecond=0) }} UTC">
                    <i class="fa fa-clock-o"></i>
                    <span class="last-updated"
                          data-submitted="{{ news.submit_time.strftime("%Y-%m-%dT%H:%M:%SZ") }}"><span>{{ news.submit_time.replace(microsecond=0) }} UTC</span></span>
                </span>
                {% if news.comhead %}
                    <span class="host" title="Site">
                        {% if news.favicon %}
                            <img src="{{ news.favicon }}" class="favicon img-circle" loading="lazy"
                                 onerror="favicon_fall_back(this);" alt="{{ news.favicon }}"/>
                        {% else %}
                            <i class="fa fa-external-link"></i>
                        {% endif %}
                        <span>{{ news.comhead }}</span>
                    </span>
                {% endif %}
                <span class="summary-model" title="Summary Model">
                    <i class="fa fa-quote-left"></i>
                    <span>
                        {{ news.summarized_by.value }}
                    </span>
                </span>
                <span class="share-icon" title="Share">
                    <a href="{{ path }}#{{ news.slug() }}">
                        <i class="fa fa-share-square-o"></i>
                        <span>
                            Share
                        </span>
                    </a>
                </span>
                {% if news.comment_url %}
                    <span class="comment" title="Comments">
                        <a href="{{ news.comment_url }}" rel="comment" target="_blank">
                            <i class="fa fa-comments"></i>
                            <span>
                                {{ news.comment_cnt }}
                            </span>
                        </a>
                    </span>
                {% endif %}
            </div>

            <div class="post-summary">
                {% if news.img_id %}
                    <a class="feature-image" href="/image/{{ news.img_id }}">
                        {# Thanks to http://loading.io/ for the spinner #}
                        <img class="img-rounded" src="/image/{{ news.img_id }}"
                             alt="{{ news.image.url }}" onerror="illustration_fall_back(this);"
                             style="{{ news.image.get_size_style(220) }}"
                             loading="lazy"/>
                    </a>
                {% endif %}
                {% if news.summary %}
                    <div class="{% if news.summary.startswith('<iframe') %}embed-responsive embed-responsive-16by9 {% else %}summary-text{% endif %}"
                        {% if news.summarized_by.is_finally() and news.summary|translate(lang)|length > config.summary_size %}
                         title="{{ news.summary|translate(lang)|trim }}"
                        {% endif %}>
                        {% set summary = news.summary|translate(lang) -%}
{#                        {% if news.summarized_by.can_truncate() %}#}
                            {% set summary = summary|truncate -%}
{#                        {% endif %}#}
                        {% if not news.summarized_by.need_escape() %}
                            {% set summary = summary|safe -%}
                        {% endif %}
                        {{ summary }}
                    </div>
                {% endif %}
                <div style="clear: both;"></div>
            </div>
        </article>
        {% if (not config.disable_ads) and (loop.index0 % 26 == 1 or loop.index0 == (news_list|length - 3)) %}
            <article class="post-item ad" data-rank="{{ loop.index0 }}">
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="fluid"
                     data-ad-layout-key="-et-7-f-rh+149"
                     data-ad-client="ca-pub-9393129008813908"
                     data-ad-slot="4020487288"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </article>
        {% endif %}
    {% endfor %}

    <footer>
        <ul class="list-inline text-center">
            <li class="dropdown" title="{{ 'Translate'|translate(lang) }}">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">
                    {{ 'Translate'|translate(lang) }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                    <li role="presentation">
                        <a role="menuitem" href="/">English</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" href="/zh.html">中文</a>
                    </li>
                </ul>
            </li>
            |
            <li><a href="/feed.xml" data-toggle="tooltip"
                    {#                   title="<p class='text-left'>Feed supporting parameters:</p>#}
                    {#        <li class='text-left'><code>gte</code> filters for greater or equal scores</li>#}
                    {#        <li class='text-left'><code>contain</code> filters for news whose title contains certain string"#}
            >RSS</a></li>
            |
            <li><a href="https://github.com/polyrabbit/hacker-news-digest" title="Star me on GitHub"
                   target="_blank">GitHub</a>
            </li>
            |
            {% block donate %}
                <li><a href="https://www.paypal.me/polyrabbit" data-toggle="tooltip"
                       title="Thanks for supporting hacker-news-summary" target="_blank">Donate</a>
                </li>
            {% endblock %}
            |
            <li>
                <a href="mailto:mcxin.221+hndigest@gmail.com?subject={{ title }} feedback">Contact</a>
            </li>
            {% if last_updated %}
                |
                <li class="last-updated"
                    data-submitted="{{ last_updated.strftime("%Y-%m-%dT%H:%M:%SZ") }}"
                    data-toggle="tooltip"
                    title="{{ last_updated.replace(microsecond=0) }} UTC">Last updated: <span>{{ last_updated.replace(microsecond=0) }} UTC</span>
                </li>
            {% endif %}
        </ul>
    </footer>
</div>

<!-- The modal dialog, which will be used to wrap the lightbox content -->
<div class="modal fade in" id="img-preview-modal" tabindex="-1">
    <div class="modal-dialog">
        <img>
    </div>
</div>
<!-- End of the modal dialog -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.27.3/humanize-duration.min.js" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/jquery.scrollup/2.4.0/jquery.scrollUp.min.js"></script>
<script src="/static/js/hn.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/modern-screenshot@4.4.26/dist/index.js" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" referrerpolicy="no-referrer"></script>
</body>
</html>
