{% extends "base.html" %}

{% set title = 'Hacker News Summary - by ChatGPT'|translate(lang) %}
{% set site = 'hackernews' %}
{% set description = 'Hacker News Summary leverages AI technology to extract summaries and illustrations from Hacker News articles, providing a seamless news scanning experience.' %}

{% block head %}
    <meta name="description" content="{{ description }}">
    <link rel="canonical" href="https://hackernews.betacat.io/"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ description }}"/>
    {{ super() }}
{% endblock %}

{% block nav_brand %}
    <a class="navbar-brand" href="https://news.ycombinator.com/news" target="_blank">Hacker News</a>
{% endblock %}

{% block nav_links %}
    <li>
        <a href="https://news.ycombinator.com/newest" target="_blank">New</a>
    </li>
    <li>
        <a href="https://news.ycombinator.com/newcomments" target="_blank">Comments</a>
    </li>
    <li>
        <a href="https://news.ycombinator.com/show" target="_blank">Show</a>
    </li>
    <li>
        <a href="https://news.ycombinator.com/ask" target="_blank">Ask</a>
    </li>
    <li>
        <a href="https://news.ycombinator.com/jobs" target="_blank">Jobs</a>
    </li>
    <li>
        <a href="https://news.ycombinator.com/submit" target="_blank">Submit</a>
    </li>
{% endblock %}
