<!DOCTYPE HTML>
<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="hacker news digest, startup news digest">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="bookmark" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if IE 7]>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}?r=6">
    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='respond.min.js') }}" type="text/javascript"></script>
        <script>
            alert('IE is not fully supported!');
        </script>
    <![endif]-->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    {#try <script>window.jQuery || document.write('<script src="/jquery.min.js"><\/script>')</script>#}
    <script>
        function fail_back(img) { // If the favicon cannot be loaded, fail back to the default on.
            $(img).replaceWith('<i class="fa fa-external-link"></i>');
        }
    </script>
</head>
<body>
<div class="container">
<a href="https://github.com/polyrabbit/hacker-news-digest" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; opacity: 0.8; filter: alpha(opacity=80);" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
<nav class="navbar">
    <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hn-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="{{ navs[0][1] }}" target="_blank">{{ navs[0][0] }}</a>
    </div>
    <div class="collapse navbar-collapse" id="hn-menu">
        <ul class="nav navbar-nav">
            {% for nav in navs[1:] %}
            <li>
                <a href="{{ nav[1] }}" target="_blank">{{ nav[0] }}</a>
            </li>
            {% endfor %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="#">
                Sort by
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="sort-by-hn-rank">HN rank</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="sort-by-score">Score</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="sort-by-comments">Comments</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="sort-by-submit-time">Submit time</a></li>
              </ul>
            </li>
        </ul>
    </div>
</nav>
{% for news in news_list %}
<article class="post-item" data-rank="{{ news.rank }}">
    <div class="post-title">
        <h3>
            <a target="_blank" class="post-url" href="{{ news.url }}">{{ news.title|trim }}</a>
        </h3>
    </div>

    <div class="post-meta">
        {% if news.score %}
            <span class="score" title="Score">
                <i class="fa fa-heart" style="color: red;"></i>
                <span>
                    {{ news.score }}
                </span>
            </span>
        {% endif %}
        {% if news.author_link %}
            <span class="author-link" title="Author">
                <a href="{{ news.author_link }}" rel="author" target="_blank">
                    <i class="fa fa-user"></i>
                    <span>
                        {{ news.author }}
                    </span>
                </a>
            </span>
        {% endif %}
        <span class="summit-time" title="Submit time">
            <i class="fa fa-clock-o"></i>
            <span class="last-updated">{{ news.submit_time }}</span>
        </span>
        {% if news.comment_url %}
            <span class="comment" title="Comments">
                <a href="{{ news.comment_url }}" rel="comment">
                    <i class="fa fa-comments"></i>
                    {{ news.comment_cnt }}
                </a>
            </span>
        {% endif %}
        {% if news.comhead %}
            <span class="host" title="Host">
                {% if news.favicon %}
                    <img src="{{ news.favicon }}" class="icon img-circle" onerror="fail_back(this);"/>
                {% else %}
                    <i class="fa fa-external-link"></i>
                {% endif %}
                <span>{{ news.comhead }}</span>
            </span>
        {% endif %}
    </div>

    <div class="post-summary">
    {% if news.img_id %}
        <a class="feature-image" href="{{ url_for('image', img_id=news.img_id) }}">
            <img class="img-rounded" src="{{ url_for('image', img_id=news.img_id) }}">
        </a>
    {% endif %}
    {% if news.summary %}
        <div class="{% if news.summary.startswith('<iframe') %}embed-responsive embed-responsive-16by9{% else %}summary-text{% endif %}">
            {{ news.summary|safe }}
        </div>
    {% endif %}
    <div style="clear: both;"></div>
    </div>
</article>
{% endfor %}
<footer>
    <ul class="list-inline text-center">
        <li><a href="/">Hacker News+</a></li>
        |
        <li><a href="/startupnews">Startup News+</a></li>
        |
        <li><a href="https://github.com/polyrabbit/hacker-news-digest" title="Fork me on GitHub" target="_blank">GitHub</a></li>
        |
        <li><a href="mailto:mcxin.221+hndigest@gmail.com?subject=Hacker news digest feedback">Contact</a></li>
        {% if last_updated %}
        |
            <li>Last updated: {{ last_updated }}</li>
        {% endif %}
    </ul>
</footer>
</div>
<!-- The modal dialog, which will be used to wrap the lightbox content -->
<div class="modal fade in" id="img-preview-modal" tabindex="-1">
  <div class="modal-dialog">
        <img>
  </div>
</div>
<script src="{{ url_for('static', filename='jquery.scrollUp.min.js') }}"></script>
<script>
$(function () {
    $.scrollUp({
        scrollTrigger: '<i class="fa fa-chevron-circle-up fa-3x" id="scrollUp"></i>',
        scrollTitle: 'Scroll to top'
    });
});
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
$('.post-item .post-summary .feature-image').click(function (e) {
    $('#img-preview-modal img').attr('src', $('img', this).attr('src'));
    $('#img-preview-modal').modal();
    return false;
});
</script>
<script src="{{ url_for('static', filename='sort.js') }}"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-36049801-3', 'auto');
  ga('require', 'linkid', 'linkid.js');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54894cfc53321667" async="async"></script>
</body>
</html>
