<!DOCTYPE HTML>
<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device&#45;width, initial&#45;scale=1">
    <meta name="description" content="better hacker news, better startup news">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
<nav class="navbar-collapse collapse" role="navigation">
    <ul class="nav navbar-nav">
        {% for nav in navs %}
        <li>
            <a href="{{ nav[1] }}" target="_blank">{{ nav[0] }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% for news in news_list %}
<article class="post-item">
    <div class="post-title">
        <h3>
            <a target="_blank" class="post-url" href="{{ news.url }}">{{ news.title|trim }}</a>
        {% if news.comhead %}
            <small>({{ news.comhead }})</small>
        {% endif %}
        </h3>
    </div>

    <div class="post-meta">
        {% if news.score %}
            <span title="score">
                <span class="score" style="background: url({{ url_for('static', filename='score.png') }}) no-repeat 0 1px transparent; min-height: 16px; padding: 0 10px 0px 10px;margin: 10px;"></span>
                <span class="next-to-icon">
                    {{ news.score }}
                </span>
            </span>
        {% endif %}
        {% if news.author_link %}
            <span class="author-link" title="author">
                <a href="{{ news.author_link }}" rel="author" target="_blank">
                    <span class="auth-t" style="background: url({{ url_for('static', filename='author.png') }}) no-repeat 0 1px transparent; min-height: 16px; padding: 0 10px 0px 10px;margin-left: 10px;">
                    </span>
                    {{ news.author }}
                </a>
            </span>
        {% endif %}
        <span title="submit time">
            <span class="stamp-t" style="background: url({{ url_for('static', filename='time.png') }}) no-repeat 4px 1px transparent; min-height: 16px; padding: 0 15px 0px 10px;"></span>
            <span class="last-updated">{{ news.submit_time }}</span>
        </span>
        {% if news.comment_url %}
            <span class="comment" title="comment">
                <a href="{{ news.comment_url }}" rel="comment" target="_blank">
                    <span class="comment-t" style="background: url({{ url_for('static', filename='comment.png') }}) no-repeat 0 1px transparent; min-height: 16px; padding: 0 10px 0px 10px;margin-left: 10px;">
                    </span>
                    {{ news.comment_cnt }}
                </a>
            </span>
        {% endif %}
    </div>

    <div class="post-summary">
    {% if news.img_id %}
        <span class="feature-image">
            <img class="img-rounded img-responsive" src="{{ url_for('image', img_id=news.img_id) }}" width="220px" height="160px" data-toggle="modal" href="http://baidu.com">
        </span>
    {% endif %}
    {% if news.summary %}
        <div class="summary-text">
            {{ news.summary|truncate(300)|safe }}
        </div>
    {% endif %}
    <div style="clear: both;"></div>
    </div>
</article>
{% endfor %}
<footer>
    <ul class="list-inline text-center">
        <li><a href="/">Hacker News+</a></li>
        |
        <li><a href="/startupnews">Startup News+</a></li>
        |
        <li><a href="https://github.com/polyrabbit/better-hacker-news" title="Fork me on GitHub" target="_blank">GitHub</a></li>
    </ul>
</footer>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-36049801-3', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
